#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.CRPLogo {
  margin: 0;
}

.smalllogo {
  position: absolute;
  left: 5px;
  z-index: -10;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.nav-container {
  margin-bottom: 0.5rem;
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.mouse-flashers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  pointer-events: none;
}

hr {
  width: 100%;
  margin-bottom: 1rem;
}

.blue-light {
  background: radial-gradient(
    circle,
    rgba(0,50,145,1) 32%,
    rgba(0,10,102,0) 66%);
  opacity: 0.1;
  width: 90px;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 50%;
  animation: flash1 0.5s infinite;
  transform: translate(-70px, -10px);
}

.red-light {
  background: radial-gradient(
    circle,
    rgb(145, 0, 0, 1) 32%,
    rgba(0,10,102,0) 66%);
  opacity: 0.1;
  width: 90px;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 50%;
  animation: flash2 0.5s infinite;
  transform: translate( -110px, -10px);
}

.font-face-due-date {
  font-family: DueDate;
  font-weight: bold;
}

/* keyframe */
@keyframes flash1 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes flash2 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}